:host {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #000;
    z-index: 9999;
    display: block;
}

div {
    color: #fff;
    font-size: 2rem;
}