:host {
    div {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: #000;
        z-index: 9999;
        display: block;
    }

    h1 {
        font-size: 3rem;
        text-align: center;
        margin-top: 20vh;
        color: aliceblue
    }
}